{% extends 'base.html' %}
{% block content %}
    <form action="/books/{{book.id}}" method="POST">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="{{book.title}}" required autofocus>
        </div>
        <div>
            <label for="author">Author:</label>
            <select name="author_id" id="author">
                {% for author in authors %}
                    <option value="{{author.id}}"
                        {% if author.id == book.author.id %}
                            selected="selected"
                        {% endif %}>
                    {{ author.first_name }} {{ author.last_name }}
                    </option>
                {% endfor %}
            </select>
            <!--
                The main problem with the above is that you can only add books
                by authors already in the database. I thought I might be able
                to make one of the options "New" and then have a text input to
                the side to free type in a new author name (using the save method
                in author_repository) but it seems this is actually rather complex
                and not actually possible with HTML alone; every solution I can
                find so far suggests using Javascript or similar, which is out of
                scope for this exercise. For now, I'm just leaving it like this,
                but it's obviously a bit crap and wouldn't really be appropriate.
            -->
        </div>
        <button type="submit">Submit updated details</button>
    </form>
{% endblock content %}
